@model List<canteen.Models.CartItem>
<div class="chile-home" style="display:flex;flex-direction:row;">
    <li class="nav-link nav-item  ">

        <a href=""> @Html.ActionLink(" Model.Count", "IndexCart", "Cart", Model.Count, new { @class = "nav-link nav-item fas fa-cart-plus" }) </a>


    </li>
